.App {
  text-align: center;
  background-image: url('/fond(3).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding:0;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
