
.collectionPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-family: Lobster;
    font-size: 1,6em;

}
.category img{
    width: 85%;
    border-radius: 50%;
}
.category img:hover {
    width: 84%;
    border-radius: 45%;
   
}
.picCategory{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}