@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@media only screen and (min-width : 601px){
.navbar{
    display: flex;
    font-size: 1.6em;
    justify-content: center;
    
    align-items: center;
    color: black;
    font-family: Damion;
    z-index: 100;

    top: 0;
    
    
}
.navbarSelection{
    margin: 2%;
    text-decoration: none;
    color: black;
}
.navbarSelection:hover{
    margin: 2%;
    text-decoration: none;
    color: #D6AF26;
    
}
.logoNavbar{
    width: 70%;
}
}
@media only screen and (max-width : 600px){

    
}