RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.ousman-o.fashion/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.ousman-o\.fashion [NC]
RewriteRule ^(.*)$ https://www.ousman-o.fashion/$1 [R=301,L]